h1 {
    font-size: 40px !important;
    color: lightblue;
}

h1 {
    font-size: 15px;
    color: orange;
}

article h1 {
    color: palevioletred;
}

article h1[class] {
    color: lightgreen;
    text-decoration: underline;
}

#headelement {
    color: lightseagreen;
}

article #headelement {
    color: gold;
}